<app-menu></app-menu>
<div class="component">

  <div class="header">
    <span class="pagetitle">REVIEW LIST</span> 
    <!-- <span class="createlink">
      <a routerLink="/requests/create">CREATE</a>
    </span> | -->
    <!-- <input class="search" [(ngModel)] = "searchCriteria" type=text placeholder="Search"> -->
  </div>

  <table class="table table-sm">
    <tr class="tableheader">
      <td hidden>Id</td>
      <td><a (click) ="sortBy('description')">Description</a></td>
      <td><a (click) ="sortBy('status')">Status</a></td>
      <td><a (click) ="sortBy('total')">Total</a></td>
      <td><a (click) ="sortBy('userId')">User</a></td>
      <td>Action</td>

    </tr>
    <tr *ngFor = "let request of requests">
      <td hidden><a >{{request.id}}</a></td>
      <td>{{request.description}}</td>
      <td>{{request.status}}</td>
      <td>{{request.total}}</td>
      <td>{{request.user.username}}</td>
      <td>
        <span class="actions">
          <a routerLink="/requests/review/item">REVIEW</a> 
        </span>
      </td>
    </tr>
  </table>
</div>



