<app-menu></app-menu>

<div class="component">

  <div class="header">
    <span class="pagetitle">REQUEST DETAIL</span> 
  </div>

  <table class="table table-sm" *ngIf="request">
    <tr>
      <td>Id:</td>
      <td>{{request.id}}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{request.description}}</td>
    </tr>
    <tr>
      <td>Justification:</td>
      <td>{{request.justification}}</td>
    </tr>
    <tr>
      <td>Rejection Reason:</td>
      <td>{{request.rejectionReason}}</td>
    </tr>
    <tr>
      <td>Delivery Mode:</td>
      <td>{{request.deliverymode}}</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>{{request.status}}</td>
    </tr>
    <tr>
      <td>Total:</td>
      <td>{{request.total}}</td>
    </tr>
    <tr>
      <td>User:</td>
      <td>{{request.userId}}</td>
    </tr>
    </table>
    <button (click)="edit()" class="btn btn-primary btn-sm">EDIT</button> |
    <button (click)="verify()" class="btn btn-primary btn-sm">DELETE</button> |
    <span *ngIf="verifyDelete">
      <button (click)="delete()" class="btn btn-primary btn-sm">VERIFY</button>
    </span>
  
</div>