<app-menu></app-menu>
<div class="component">

  <div class="header">
    <span class="pagetitle">PRODUCT LIST</span> |
    <span class="createlink">
      <a routerLink="/products/create">CREATE</a>
    </span> |
    <input class="search" [(ngModel)] = "searchCriteria" type=text placeholder="Search">
  </div>
  
  <table class="table table-sm">
    <tr class="tableheader">
      <td>Id</td>
      <td><a (click) ="sortBy('prtNbr')">Part Number</a></td>
      <td><a (click) ="sortBy('name')">Product Name</a></td>
      <td><a (click) ="sortBy('price')">Price</a></td>
      <td><a (click) ="sortBy('unit')">Unit</a></td>
      <td><a (click) ="sortBy('vendorId')">Vendor</a></td>
      <td>Actions</td>
    </tr>
    <tr *ngFor = "let product of products | searchUsers:searchCriteria |sort: sortCriteria : sortOrder "> 
      <td>{{product.id}}</td>
      <td>{{product.prtNbr}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.unit}}</td>
      <td>{{product.vendorId}}</td>
      <td>
        <span class="actions">
          <a routerLink="/products/detail/{{product.id}}">DETAIL</a> |
          <a routerLink="/products/edit/{{product.id}}">EDIT</a>
        </span>
      </td>
    </tr>
  </table>
</div>
