<app-menu></app-menu>
<div class="component">

  <div class="header">
    <span class="pagetitle">REQUEST LIST</span> |
    <!-- <span class="createlink">
      <a routerLink="/requests/create">CREATE</a>
    </span> | -->
    <input class="search" [(ngModel)] = "searchCriteria" type=text placeholder="Search">
  </div>

  <table class="table table-sm">
    <tr class="tableheader">
      <td>Id</td>
      <td><a (click) ="sortBy('description')">Product</a></td>
      <td><a (click) ="sortBy('justification')">Quantity</a></td>
      <td><a (click) ="sortBy('rejectionReason')">Price</a></td>
      <td><a (click) ="sortBy('delivaryMode')">Subtotal</a></td>
      <td>Action</td>
    </tr>
    <tr *ngFor = "let requestline of requestlines |sort: sortCriteria : sortOrder ">
      <td>{{requestlines.id}}</td>
      <td>{{requestlines.productId}}</td>
      <td>{{requestlines.quantity}}</td>
      <td>{{requestlines.price}}</td>
      <td>{{requestlines.total}}</td>
      <td>
          <span class="actions">
            <a routerLink="/requestlines/detail/{{requestlines.id}}">DELETE</a> |
            <a routerLink="/requestlines/edit/{{requestlines.id}}">EDIT</a> 
          </span>
        </td>
    </tr>

  </table>

</div>