<app-menu></app-menu>
<div class="component">

  <div class="header">
    <span class="pagetitle">REQUESTLINES LIST</span>
  </div>

  <table class="table table-sm">
    <tr class="tableheader">
      <td>Product</td>
      <td>Quantity</td>
      <td>Price</td>
      <td>Subtotal</td>
      <td>Action</td>
    </tr>
    <tr *ngFor = "let line of requestlines">
      <td>{{line.product.name}}</td>
      <td>{{line.quantity}}</td>
      <td>{{line.product.price | currency}} </td>
      <td>{{line.product.price * line.quantity | currency}}</td>
      <td>
          <span class="actions">
            <a routerLink="/requestlines/detail/{{requestlines.id}}">DELETE</a> |
            <a routerLink="/requestlines/edit/{{requestlines.id}}">EDIT</a> 
          </span>
        </td>
    </tr>

  </table>

</div>