<app-menu></app-menu>

<div class ="home">
 
    <body>
        <span>
            <h3 class="border border-primary">ABOUT</h3>
            <p>
            A dedicated and energetic individual seeking to join a company as a software engineer to
            contribute to the delivery of quality software solutions by applying interpersonal
            skills and knowledge of program design.
            </p>
    
            
        <h3 class="border border-primary">AREAS OF EXPERTISE</h3>
        <table id = "tech" class= "table tectable">
            <tr>
              <td>SQL</td> 
              <td>Git/GitHub</td> 
            </tr>
            <tr>  
              <td>C#</td> 
              <td>HTML</td> 
            </tr>
            <tr>
              <td>CSS/JS</td> 
              <td>Angular</td>
            </tr>
            <tr> 
              <td>Bootstrap</td> 
              <td>MVC</td> 
            </tr>
            
        </table>
        </span>
    </body>
    
</div>
<div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Purchase Request System (PRS) is copyright (c) 2019 Lidya Tsegay all rights reserved.</span>
        </div>
    </footer>
</div>