/* You can add global styles to this file, and also import other style files */

.pagetitle{
    font-weight: bold;
}

.tableheader{
    font-weight: bold;
    font-style: italic;

}

tr.tableheader a{
    cursor:pointer;
}

.menuNames{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.home {
    align-content: center;
    background-color: lightgrey;
    width: 900px;
    border: 7px solid #0080ff;
    padding: 5px;
    margin: 50px;

}

